/* src/components/buyer/BuyerDashboard.css */

.buyer-dashboard {
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-color: #89f392; /* Light background */
    color: #333; /* Default text color */
    width: 243vh;
  }
  
  .buyer-dashboard.dark-mode {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text color */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  